.ifs{
    border-radius: 5px;
    max-width: 300px;
}

.sb{
    background-color: #33cabb;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.sb:hover{
    background-color: #31bfb1;
}

.cb{
    background-color: #33cabb;
    border: 0px;
    position: relative;
    right: -20px;
}

.cb:hover{
    background-color: #31bfb1;
    border: 0px;
}

.fc{
    font-size: 20px;
}

.img{
    width: 328px;
    height: 250px;
    border-radius: 5px;
}

